<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Kód</th>
            <th>Tárgy neve</th>
            <th>Leírás</th>
            <th>Kredit</th>
            <th>Funkciók</th>
        </tr>   
    </thead>
    <tbody>

        {{#each subjects}}
        <tr>
            {{!--{{log this}}--}}
            <td>{{code}}</td>
            <td>{{name}}</td>
            <td><span class="badge">{{numberOfMessages}}</span> {{description}}</td>
            <td>{{credit}}</td>
            <td>
                {{link-to "Megtekint" "subjects.view" this class="btn btn-default btn-sm"}}
                {{link-to "Szerkeszt" "subjects.edit" this class="btn btn-default btn-sm"}}
                <button {{action "deleteSubject" this}} class="btn btn-default btn-sm">Töröl</button>
            </td>
        </tr>
        {{/each}}

        {{!--
        <tr>
            <td>35126</td>
            <td><span class="label label-danger">Új</span></td>
            <td>cloud9</td>
            <td><span class="badge">0</span> lassú hétfőnként</td>
        </tr>
        <tr>
            <td>35126</td>
            <td><span class="label label-danger">Új</span></td>
            <td>cloud9</td>
            <td><span class="badge">0</span> lassú hétfőnként</td>
        </tr>
        --}}
    </tbody>
</table>